<html>
<head>
  <title>API</title>

  <link rel="stylesheet" href="assets/javascripts/normalize.css" />
  <link rel="stylesheet" href="assets/stylesheets/customize.css" />

  <!-- Provides JQuery framework. -->
  <script src="http://code.jquery.com/jquery-1.6.2.min.js"></script>
  <!-- Provides the slider/mousewheel widget. -->
  <script src="http://cdn.jquerytools.org/1.2.5/full/jquery.tools.min.js"></script>
  <!-- Provides templating system. -->
  <script src="assets/javascripts/jquery.jqote2.min.js"></script>
  <!-- Provides search filtering. -->
  <script src="assets/javascripts/quicksearch.js"></script>
  <!-- Provides markdown support. -->
  <script src="assets/javascripts/showdown.js"></script>
  <!-- Provides markdown support. -->
  <script src="assets/javascripts/hypervisor.js"></script>

  <script>
  var converter = new Showdown.converter();

  $(document).ready(function(){
    $.getJSON('doc.json', function(data) {

      metadata = data['(metadata)'];

      $('#header').append(
        $('#template-header').jqote(metadata)
      );

      var table = new Array();
      $.each(data, function(key, value) {
        value.key = cleanId(key);
        table.push(value);
      });

      table.sort(compareNames);

      $.each(table, function(index, value) {
        type  = value['!'];
        switch(type) {
        case 'function':
          $('#methods').append($('#template-method-link').jqote(value));
          $('#infobox').append($('#template-function-info').jqote(value));
          break;
        case 'method':
          $('#methods').append($('#template-method-link').jqote(value));
          $('#infobox').append($('#template-method-info').jqote(value));
          break;
        case 'class':
          $('#classes').append($('#template-module-link').jqote(value));
          $('#infobox').append($('#template-module-info').jqote(value));
          break;
        case 'module':
          $('#classes').append($('#template-module-link').jqote(value));
          $('#infobox').append($('#template-module-info').jqote(value));
          break;
        case 'file':
          $('#file').append($('#template-file-link').jqote(value));
          $('#infobox').append($('#template-file-info').jqote(value));
          break;
        case 'script':
          $('#file').append($('#template-file-link').jqote(value));
          $('#infobox').append($('#template-script-info').jqote(value));
          break;
        };

      });

      // TODO: how to generalize?
      $('#api-file-README-dot-rdoc').show();

      $(".scroll").scrollable({mousewheel: true}).navigator();

      $('input#search-input').quicksearch('.items li', {
        'bind': 'keyup',
      });
    });

    $('#abctabs').append($('#template-abctabs').jqote());

  });
  </script>
</head>

<body>
  <div id="header">
    <div class="raw-button"><button onclick="showRaw();">raw</button></div>

    <script type="text/x-jqote-template" id="template-header">
      <![CDATA[
        <h1><%= this.title %></h1>
        <h2><%= this.summary %></h2>
      ]]>
    </script>

  </div>
  <div id="ribbon">
    <table width="100%">
    <tr>
      <th>Search</th>
      <td>
        <div id="search-field">
          <input id="search-input" type="text" value="" /> &nbsp;
          <span id="abctabs">

            <script type="text/x-jqote-template" id="template-abctabs">
              <![CDATA[
                <% abc = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'; %>
                <% for (i=0;i<=25;i++) { %>
                  <button class="letter" onclick="clickABCTab('<%= abc[i] %>');"><%= abc[i] %></button>
                <% } %>
                <button class="letter" onclick="clickABCTab('');">(clear)</button>
              ]]>
            </script>

          </span>
        </div>
      </td>
    </tr> <tr>
      <th style="width: 50px;">FILES</th>
      <td>
        <div class="scroll">
          <ul id="file" class="items">

            <script type="text/x-jqote-template" id="template-file-link">
              <![CDATA[
                <li>
                  <button class="link" onclick="toggleBox('#api-file-<%= this.key %>');">
                    <%= this.name %>
                  </button>
                </li>
              ]]>
            </script>

          </ul>
        </div>
      </td>
    </tr> <tr>
      <th style="width: 50px;">CLASSES</th>
      <td>
        <div class="scroll">
          <ul id="classes" class="items">

            <script type="text/x-jqote-template" id="template-module-link">
              <![CDATA[
                <li>
                  <button class="link" onclick="toggleBox('#api-module-<%= this.key %>');"
                      title="<%= this.namespace + '::' + this.name %>"
                        alt="<%= this.namespace + '::' + this.name %>">
                    <%= this.name %>
                  </button>
                </li>
              ]]>
            </script>

          </ul>
        </div>
      </td>
    </tr> <tr>
      <th style="width: 50px;">METHODS</th>
      <td>
        <div class="scroll">
          <ul id="methods" class="items">

            <script type="text/x-jqote-template" id="template-method-link">
              <![CDATA[
                <li>
                  <button class="link" onclick="toggleBox('#api-method-<%= this.key %>');">
                    <%= this.name.escapeHTML() %>
                  </button>
                </li>
              ]]>
            </script>

          </ul>
        </div>
      </td>
    </tr>
    </table>
  </div>

  <div id="infobox">

    <script type="text/x-jqote-template" id="template-file-info">
      <![CDATA[
        <div class="box" id="api-file-<%= this.key %>" style="display: none;">
          <div style="float: right">
            <button class="link" onclick="$('#api-file-<%= this.key %>').hide();">X</button>
          </div>
          <div class="info-heading">
            <h2><%= this['!'] %></h2>
            <h1><%= this.path %> <!-- <%= this.name %> --> </h1>
            <h3><%= this.mtime %></h3>
          </div>
          <div class="info-content">
            <% if (this.text == undefined){ %>
            <% } else { %>
              <pre><%= converter.makeHtml(this.text) %></pre>
            <% } %>
          </div>
        </div>
      ]]>
    </script>

    <script type="text/x-jqote-template" id="template-script-info">
      <![CDATA[
        <div class="box" id="api-file-<%= this.key %>" style="display: none;">
          <div style="float: right">
            <button class="link" onclick="$('#api-file-<%= this.key %>').hide();">X</button>
          </div>
          <div class="info-heading">
            <h2>script</h2>
            <h1><%= this.path %></h1>
            <h3><%= this.mtime %></h3>
          </h2>
          <div class="info-content">
            <pre><%= this.source.escapeHTML() %></pre>
        </div>
      ]]>
    </script>

    <script type="text/x-jqote-template" id="template-module-info">
      <![CDATA[
        <div class="box" id="api-module-<%= this.key %>" style="display: none;">
          <div style="float: right">
            <button class="link" onclick="$('#api-module-<%= this.key %>').hide();">X</button>
          </div>

          <div class="info-heading">
            <h2><%= this['!'] %></h2>
            <h1>
            <span class="fade"><%= this.namespace %></span>::<%= this.name %>
            <% if (this['!'] == 'class'){ %>
              <span class="fade">< <%= this.superclass || 'Object' %></span>
            <% }else{ %>
              <span class="fade"></span>
            <% } %>
            </h1>
            <h3></h3>
          </h2>
          <div class="info-content">
            <p><%= converter.makeHtml(this.comment) %></p>
          </div>
        </div>
      ]]>
    </script>

    <script type="text/x-jqote-template" id="template-method-info">
      <![CDATA[
        <div class="box" id="api-method-<%= this.key %>" style="display: none;">
          <div style="float: right">
            <button class="link" onclick="$('#api-method-<%= this.key %>').hide();">X</button>
          </div>
          <div class="info-heading">
            <h2><%= this['!'] %></h2>
              <h1><span class="fade"><%= this.parent %></span>#<%= this.name %><h1>
            <h3></h3>
          </div>
          <div class="info-content">
            <p><%= converter.makeHtml(this.comment) %></p>
          <div>
        </div>
      ]]>
    </script>

    <script type="text/x-jqote-template" id="template-function-info">
      <![CDATA[
        <div class="box" id="api-method-<%= this.key %>" style="display: none;">
          <div style="float: right">
            <button class="link" onclick="$('#api-method-<%= this.key %>').hide();">X</button>
          </div>
          <div class="info-heading">
            <h2><%= this['!'] %></h2>
              <h1><span class="fade"><%= this.parent %></span>.<%= this.name %><h1>
            <h3></h3>
          </div>
          <div class="info-content">
            <p><%= converter.makeHtml(this.comment) %></p>
          <div>
        </div>
      ]]>
    </script>

    <div id="raw" class="box">
      <h2>doc.js</h2>
    </div>

  </div>

</body>
</html>
