{{#letters}}
  <button class="letter" onclick="HyperVisor.clickABCTab('{{letter}}');">{{letter}}</button>
{{/letters}}
<button id="clear-button" class="letter" onclick="HyperVisor.clickABCTab('');">(clear)</button>

